.body {
  background-color: lavenderblush;
}

.header {
  text-align: center;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

#paragraph {
  font-size: 150%;
}

#button {
  font-size: 120%;
}

.div-one {
  text-align: center;
  border: 15px solid pink;
  border-style: dotted;
  margin: 20px;
  padding: 15px;
}

.div-two {
  text-align: center;
  margin: 15px;
  border: 15px solid pink;
  border-style: double;
  padding: 15px;
}

#first {
  font-size: 120%;
}

#second {
  font-size: 120%;
}

#multiply {
  font-size: 120%;
}

#answer {
  font-size: 120%;
}

#game {
  font-size: 120%;
}

.link {
  text-align: center;
}

.div-four {
  text-align: center;
}
